<%- include("partials/header") %>
  <h2><%=method%>  - Оцінка інформації експертами</h2>
  <button class="collapsible">Переглянути інформацію +</button>
  <div class="fulContent">
    <p>
      <%=mainInf%>
    </p>
  </div>

  <form id="regForm" action="/assessment" method="post">
    <p id="expertNumber">Expert<span class="numStyle1">№1</span></p>

    <div class="tab">Оцінка джерела:

      <hr>
      <p>1. Чи був автор помічений у навмисному поширенні хибної інформації? </p>
      <label for="r1">
        <input id="r1" type="radio" name="radio1" value="0">Так</label>
      <label for="r2">
        <input id="r2" type="radio" name="radio1" value="0.5" checked>Ні</label>
      <hr>

      <P>2. Чи був автор помічений у поширенні неперевіреної інформації яка в результаті виявилась хибною?</P>
      <label for="r3">
        <input id="r3" type="radio" name="radio2" value="0" checked>Так</label>
      <label for="r4">
        <input id="r4" type="radio" name="radio2" value="0.4">Ні</label>
      <hr>

      <p>3. Як часто джерело поширює недостовірну інформацію?</p>
      <label for="r5">
        <input id="r5" type="radio" name="radio3" value="0">Завжди</label>
      <label for="r6">
        <input id="r6" type="radio" name="radio3" value="0.1">Дуже часто</label>
      <label for="r7">
        <input id="r7" type="radio" name="radio3" value="0.2" checked>Часто</label>
      <label for="r8">
        <input id="r8" type="radio" name="radio3" value="0.3">Рідко</label>
      <label for="r9">
        <input id="r9" type="radio" name="radio3" value="0.4">Дуже рідко</label>
      <label for="r10">
        <input id="r10" type="radio" name="radio3" value="0.5">Ніколи</label>
      <hr>

      <p>4. Чи використовує автор стиль оцінювання контенту?</p>
      <label for="r11">
        <input id="r11" type="radio" name="radio4" value="0" checked>Так</label>
      <label for="r12">

        <input id="r12" type="radio" name="radio4" value="0.2">Ні</label>
      <hr>

      <p>5. Чи є джерело інформації незалежним?</p>
      <label for="r13">
        <input id="r13" type="radio" name="radio5" value="0.2" checked>Так</label>
      <label for="r14">
        <input id="r14" type="radio" name="radio5" value="0.1">Ні</label>
      <hr>

      <p>6. Чи посилається автор на інші джерела?</p>
      <label for="r15">
        <input id="r15" type="radio" name="radio6" value="0.4">На власні дані</label>
      <label for="r16">
        <input id="r16" type="radio" name="radio6" value="0.1" checked>На загальні джерела</label>
      <label for="r17">
        <input id="r17" type="radio" name="radio6" value="0.2">Чітке сумнівне джерело</label>
      <label for="r18">
        <input id="r18" type="radio" name="radio6" value="0.3">Чітке достовірне джерело</label>
      <hr>

      <p>7. Чи може джерело мати доступ до такої інформації?</p>
      <label for="r19">
        <input id="r19" type="radio" name="radio7" value="0.3" checked>Так</label>
      <label for="r20">
        <input id="r20" type="radio" name="radio7" value="0.1">Ні</label>


    </div>

    <div class="tab">Другий блок:
      <hr>
      <p>1. Чи суперечить інформація сама собі?</p>
      <label for="rb1">
        <input id="rb1" type="radio" name="radioG1" value="0" checked>Так</label>
      <label for="rb2">
        <input id="rb2" type="radio" name="radioG1" value="0.2">Ні</label>
      <hr>

      <p>2. Чи можна пов’язати дану інформацію з вже наявною?</p>
      <label for="rb3">
        <input id="rb3" type="radio" name="radioG2" value="0.2">Так</label>
      <label for="rb4">
        <input id="rb4" type="radio" name="radioG2" value="0" checked>Ні</label>
      <hr>

      <p>3. Чи присутні згадки даної інформації в інших джерелах та чи є ці джерела
        прийнятними?</p>
      <label for="rb5">
        <input id="rb5" type="radio" name="radioG3" value="0.4">Так, джерела прийнятні</label>
      <label for="rb6">
        <input id="rb6" type="radio" name="radioG3" value="0.1" checked>Так, джерела неприйнятні</label>
      <label for="rb7">
        <input id="rb7" type="radio" name="radioG3" value="0.2">Ні</label>
      <hr>

      <p>4. Чи є інформація сенсаційною?</p>
      <label for="rb8">
        <input id="rb8" type="radio" name="radioG4" value="0">Так</label>
      <label for="rb9">
        <input id="rb9" type="radio" name="radioG4" value="0.1" checked>Ні</label>
      <hr>

      <p>5. Чи може використовуватись оголошена інформація для приховування реальних
        планів?</p>
      <label for="rb10">
        <input id="rb110" type="radio" name="radioG5" value="0">Так</label>
      <label for="rb11">
        <input id="rb11" type="radio" name="radioG5" value="0.2" checked>Ні</label>
      <hr>

      <p>6. Чи може бути інформація суб’єктивною думкою?</p>
      <label for="rb12">
        <input id="rb12" type="radio" name="radioG6" value="0">Так</label>
      <label for="rb13">
        <input id="rb13" type="radio" name="radioG6" value="0.1" checked>Ні</label>
      <hr>

      <p>7. Чи присутні в інформаційному просторі протилежні заяви та чи є ті джерела
        прийнятними?</p>
      <label for="rb14">
        <input id="rb14" type="radio" name="radioG7" value="0.1">Так, джерелу довіряю</label>
      <label for="rb115">
        <input id="rb15" type="radio" name="radioG7" value="0.2" checked>Так, але джерелу не довіряю</label>
      <label for="rb16">
        <input id="rb16" type="radio" name="radioG7" value="0.4">Ні</label>
      <hr>

      <p>8. Чи може оголошена інформація бути вигідна джерелу?</p>
      <label for="rb17">
        <input id="rb17" type="radio" name="radioG8" value="0">Так</label>
      <label for="rb18">
        <input id="rb18" type="radio" name="radioG8" value="0.2" checked>Ні</label>
      <hr>

      <p>9. Чи додає автор інформації підтверджуючі докази?</p>
      <label for="rb19">
        <input id="rb19" type="radio" name="radioG9" value="0.2">Так</label>
      <label for="rb20">
        <input id="rb20" type="radio" name="radioG9" value="0" checked>Ні</label>
      <hr>

      <p>10. Чи можуть докази свідчити про достовірність інформації?</p>
      <label for="rb21">
        <input id="rb21" type="radio" name="radioG10" value="0.3" checked>Так</label>
      <label for="rb22">
        <input id="rb22" type="radio" name="radioG10" value="0">Нe впливають</label>
      <hr>

      <p>11. Чи прихована частина інформації?</p>
      <label for="rb23">
        <input id="rb23" id="g11" type="radio" name="radioG11" value="0" checked>Так</label>
      <label for="rb24">
        <input id="rb24" type="radio" name="radioG11" value="0.2">Ні</label>
      <hr>

      <p>12. Чи є перебільшення чи применшення частини інформації?</p>
      <label for="rb25">
        <input id="rb25" type="radio" name="radioG12" value="0">Так</label>
      <label for="rb26">
        <input id="rb26" type="radio" name="radioG12" value="0.3" checked>Ні</label>

    </div>


    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
    </div>

  </form>

  <script src="js/assess.js"></script>

  <script src="js/unfold.js"></script>
  <%- include("partials/footer") %>