<%- include("partials/header") %>
    <h2>Команда складається з наступних експертів: </h2>
    <div class="grid-container">
        <div>
            <p class="expNum">Експерт №1</p>
            <ul>
                <li>Ім'я:<span class="expertInfo"></span></li>
                <li>Прізвище:<span class="expertInfo"></span></li>
                <li>Практичний досвід:<span class="expertInfo"></span></li>
                <li>Кількість захищених робіт та публікацій:<span class="expertInfo"></span></li>
                <li>Науковий ступінь:<span class="expertInfo"></span></li>
                <li>Кількість правильних оцінок:<span class="expertInfo"></span></li>
                <li>Оцінка від інших експертів:<span class="expertInfo"></span></li>
                <li>Чи підвищив свій рівень:<span class="expertInfo"></span></li>
                <li>Загальний рівень експерта:<span class="expertInfo"></span></li>
                <li>Вплив експерта в даному оцінюванні:<span class="expertInfo"></span></li>
            </ul>

        </div>
        <div>
            <p class="expNum">Експерт №2</p>
            <ul>
                <li>Ім'я:<span class="expertInfo"></span></li>
                <li>Прізвище:<span class="expertInfo"></span></li>
                <li>Практичний досвід:<span class="expertInfo"></span> </li>
                <li>Кількість захищених робіт та публікацій:<span class="expertInfo"></span> </li>
                <li>Науковий ступінь:<span class="expertInfo"></span> </li>
                <li>Кількість правильних оцінок:<span class="expertInfo"></span> </li>
                <li>Оцінка від інших експертів:<span class="expertInfo"></span> </li>
                <li>Чи підвищив свій рівень:<span class="expertInfo"></span> </li>
                <li>Загальний рівень експерта:<span class="expertInfo"></span> </li>
                <li>Вплив експерта в даному оцінюванні:<span class="expertInfo"></span> </li>
            </ul>

        </div>
        <div>
            <p class="expNum">Експерт №3</p>
            <ul>
                <li>Ім'я:<span class="expertInfo"></span></li>
                <li>Прізвище:<span class="expertInfo"></span></li>
                <li>Практичний досвід: <span class="expertInfo"></span></li>
                <li>Кількість захищених робіт та публікацій:<span class="expertInfo"></span> </li>
                <li>Науковий ступінь:<span class="expertInfo"></span> </li>
                <li>Кількість правильних оцінок:<span class="expertInfo"></span> </li>
                <li>Оцінка від інших експертів:<span class="expertInfo"></span> </li>
                <li>Чи підвищив свій рівень:<span class="expertInfo"></span> </li>
                <li>Загальний рівень експерта:<span class="expertInfo"></span> </li>
                <li>Вплив експерта в даному оцінюванні:<span class="expertInfo"></span> </li>
            </ul>

        </div>

    </div>
    <div class="continue">
        <a href="/assessment"><button class="btnChoose">Далі</button></a>
    </div>
    

    <script src="js/showExpInfo.js"></script>
    <%- include("partials/footer") %>