<%- include("partials/header") %>
<form action="/" method="post">
    <div class="mb-3">
        <label for="genInf" class="form-label">Введіть інформацію, яку потрібно оцінити:</label>
        <textarea name="mainInf" id="genInf" cols="30" rows="5" class="form-control" placeholder="Ваша іформація.."></textarea>
        <button class="btn btn-primary" type="submit" name="button">Далі</button>
    </div>
</form>
<%- include("partials/footer") %>